@import "../../assets/sass/mixins";

.rightPanel {
  max-width: 800px;
  background-image: var(--secondary-bg-color);
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-radius: 10px;
  &Sided {
    max-width: 800px;
    background-image: var(--secondary-bg-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-radius: 10px;
    transform: translateX(220px);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
    @include mq(tablet-only) {
      transform: translateX(0px);
    }
    @include mq(mobile-only) {
      transform: translateX(0px);
    }
  }
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}

.walletIco {
  @include mq(mobile-only) {
    width: 30px;
    height: 30px;
  }
}

.headingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0px 29px 0px;
  @include mq(mobile-only) {
    padding: 20px 0px 23px 0px;
  }
}

.rightPanelHeading {
  @include boldFont();
  font-size: 35px;
  margin-left: 5px;
  color: var(--primary-text-color);
  @include mq(mobile-only) {
    font-size: 25px;
  }
}

.walletBalaneWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.walletBalaneHeading {
  @include regularFont();
  font-size: 35px;
  color: var(--primary-text-color);
  @include mq(mobile-only) {
    font-size: 15px;
  }
}

.walletBalane {
  @include regularFont();
  font-size: 35px;
  color: var(--primary-text-color);
  @include mq(mobile-only) {
    font-size: 15px;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 63px 200px 73px 200px;
  @include mq(mobile-only) {
    padding: 50px 50px 50px 50px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 100%;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: black;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include mq(mobile-only) {
    width: 70px;
    height: 70px;

    & img {
      width: 70px;
      height: 70px;
    }
  }
}
