:root {
  // text colors
  --primary-text-color: #ffffff;
  --secondary-text-color: (255, 255, 255, 0.4);
  // background colors:
  --primary-bg-color: linear-gradient(to right, #47bea7, #267164);
  --secondary-bg-color: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6)
  );
  --header-bg-color: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4)
  );
  --left-panel-bg-color: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  --active-el-color: rgba(12, 33, 30, 0.8);
  --icons-bg: rgba(255, 255, 255, 0.4);

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
