@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/bahnschrift-regular.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/bahnschrift-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
